<h1 mat-dialog-title>{{ data?.title }}</h1>
<br />
<mat-dialog-content>
  <form [formGroup]="taskForm" (submit)="onSave()">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Project ID</mat-label>
      <input type="text" formControlName="projectId" matInput />
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Título</mat-label>
      <input type="text" formControlName="title" matInput />
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Descripción</mat-label>
      <input type="text" formControlName="description" matInput />
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Status</mat-label>
      <input type="text" formControlName="status" matInput />
    </mat-form-field>
    <div align="center">
      <button mat-flat-button color="primary" [disabled]="taskForm.invalid">
        <mat-icon>save</mat-icon> {{ titleButton }}
      </button>
      <button mat-flat-button color="warn" type="button" (click)="onClear()">
        <mat-icon>clear</mat-icon> Limpiar
      </button>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>
    <mat-icon>close</mat-icon> Cerrar
  </button>
</mat-dialog-actions>